.navBrand{
    text-decoration: inherit ;
    font-size: 1.5rem;
    font-weight: bold;
    color: #fa4f4f;
}
.navBrand:hover{
    color: #fa4f4f;
}
.navItems2{
    align-items: center;
}
.navItem{
    margin-left: 1rem;
    color: rgba(255, 255, 255, 0.921);
    text-decoration: inherit ;
    font-size: 1.2rem;
    font-weight: bold;
    font-family: "Nunito",sans-serif;

}
.cartBtn{
    margin: 0 8px;
}
.navItem:hover{
    color: rgb(137, 137, 137) ;
    transition-duration: 0.3s;
}
.active{
    color: #fa4f4f !important;
    margin-left: 1rem;
    text-decoration: inherit ;
    font-size: 1.2rem;
    font-weight: bold;
    font-family: "Nunito",sans-serif;
    transition: 0.5s;
}

@media only screen and (max-width: 991px) {
    .navItems2{
        align-items:flex-start;
    }
    .navItem{
        margin-top: 0.5rem;
    }
    .cartBtn{
        margin: 0.5rem 0 0 0  ;
    }
    .active{
        margin-top: 0.5rem;
    }
}